:root {
  --dark-color: #202429;
  --light-color: #506497;
  --text: #ffffff;
  --highlight-color: #bebebe5b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body,
button {
  color: var(--text);
  background: var(--dark-color);
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.rc-slider-track {
  background-color: var(--light-color) !important;
}
